<div class="welcome">
	<div id="apptitle" class="ng-binding">
		NIST <span style="color: white" class="ng-binding">Immunization tools</span>
	</div>
	<div class="welcomeContainer">
			
			The NIST Immunization Test Suite is set of three tools used for ASTP/ONC certification of Health IT Modules for the versions of the Immunization Implementation Guides named in the certification criteria §170.315(f)(1) and §170.315(f)(21) , including:
HL7 v2.5.1 Implementation Guide for Immunization Messaging, Release 1.5, 2014 & associated Addendum
HL7 v2.5.1 Implementation Guide for Immunization Messaging, Release 1.5, 2018 Update
The testing tools in the NIST Immunization Test Suite are available to the public for conducting conformance testing of HL7 v2 immunization messages. No User Account is needed for accessing the testing tools for executing conformance testing. Users may create an Account to save certain settings.
			
		<div class="welcomeLink">
			<a href="#/onc/home">ONC Health IT Certification</a>
		</div>
		<div class="welcomeLink">
			<a href="#/svap/home">HTI-1 SVAP Immunization</a>
		</div>

	</div>
</div>